Political_PartyABC/PartyRESTServiceApp/src/conf/xml-resources/web-service-references/ValidatorConverterSOAPService/wsdl/UZU-DESIGN05_8080/ValidatorConverterSOAPService/ValidatorConverterSOAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.validator.gov.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.validator.gov.za/" name="ValidatorConverterSOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.validator.gov.za/" schemaLocation="http://UZU-DESIGN05:8080/ValidatorConverterSOAPService/ValidatorConverterSOAPService?xsd=1"/>
</xsd:schema>
</types>
<message name="transformMember">
<part name="parameters" element="tns:transformMember"/>
</message>
<message name="transformMemberResponse">
<part name="parameters" element="tns:transformMemberResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="editMember">
<part name="parameters" element="tns:editMember"/>
</message>
<message name="editMemberResponse">
<part name="parameters" element="tns:editMemberResponse"/>
</message>
<message name="forwardMember">
<part name="parameters" element="tns:forwardMember"/>
</message>
<message name="forwardMemberResponse">
<part name="parameters" element="tns:forwardMemberResponse"/>
</message>
<portType name="ValidatorConverterSOAPService">
<operation name="transformMember">
<input wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/transformMemberRequest" message="tns:transformMember"/>
<output wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/transformMemberResponse" message="tns:transformMemberResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/transformMember/Fault/Exception"/>
</operation>
<operation name="editMember">
<input wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/editMemberRequest" message="tns:editMember"/>
<output wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/editMemberResponse" message="tns:editMemberResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/editMember/Fault/Exception"/>
</operation>
<operation name="forwardMember">
<input wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/forwardMemberRequest" message="tns:forwardMember"/>
<output wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/forwardMemberResponse" message="tns:forwardMemberResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.gov.za/ValidatorConverterSOAPService/forwardMember/Fault/Exception"/>
</operation>
</portType>
<binding name="ValidatorConverterSOAPServicePortBinding" type="tns:ValidatorConverterSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="transformMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ValidatorConverterSOAPService">
<port name="ValidatorConverterSOAPServicePort" binding="tns:ValidatorConverterSOAPServicePortBinding">
<soap:address location="http://UZU-DESIGN05:8080/ValidatorConverterSOAPService/ValidatorConverterSOAPService"/>
</port>
</service>
</definitions>