Political_PartyABC/PartyRESTServiceApp/web/WEB-INF/wsdl/UZU-DESIGN05_8080/ValidatorConverterSOAPService/ValidatorConverterSOAPService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jws.validator.gov.za/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jws.validator.gov.za/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="editMember" type="tns:editMember"/>

<xs:element name="editMemberResponse" type="tns:editMemberResponse"/>

<xs:element name="forwardMember" type="tns:forwardMember"/>

<xs:element name="forwardMemberResponse" type="tns:forwardMemberResponse"/>

<xs:element name="transformMember" type="tns:transformMember"/>

<xs:element name="transformMemberResponse" type="tns:transformMemberResponse"/>

<xs:complexType name="editMember">
<xs:sequence>
<xs:element name="ids" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editMemberResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardMember">
<xs:sequence>
<xs:element name="memberXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardMemberResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="transformMember">
<xs:sequence>
<xs:element name="memberXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transformMemberResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>