Political_PartyABC/PartyManagerWebApp/src/conf/xml-resources/web-service-references/PartyRESTService/wsdl/UZU-DESIGN05_8080/PartyRESTServiceApp/PartyRESTService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.party.gov.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.party.gov.za/" name="PartyRESTService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.validator.gov.za/" schemaLocation="http://UZU-DESIGN05:8080/PartyRESTServiceApp/PartyRESTService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jws.party.gov.za/" schemaLocation="http://UZU-DESIGN05:8080/PartyRESTServiceApp/PartyRESTService?xsd=2"/>
</xsd:schema>
</types>
<message name="remove_1">
<part name="parameters" element="tns:remove_1"/>
</message>
<message name="remove_1Response">
<part name="parameters" element="tns:remove_1Response"/>
</message>
<message name="Exception_Exception">
<part xmlns:ns1="http://jws.validator.gov.za/" name="fault" element="ns1:Exception"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="find_1">
<part name="parameters" element="tns:find_1"/>
</message>
<message name="find_1Response">
<part name="parameters" element="tns:find_1Response"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="countREST">
<part name="parameters" element="tns:countREST"/>
</message>
<message name="countRESTResponse">
<part name="parameters" element="tns:countRESTResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="edit_1">
<part name="parameters" element="tns:edit_1"/>
</message>
<message name="findRange_1">
<part name="parameters" element="tns:findRange_1"/>
</message>
<message name="findRange_1Response">
<part name="parameters" element="tns:findRange_1Response"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="addMember">
<part name="parameters" element="tns:addMember"/>
</message>
<message name="addMemberResponse">
<part name="parameters" element="tns:addMemberResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="updateMember">
<part name="parameters" element="tns:updateMember"/>
</message>
<message name="updateMemberResponse">
<part name="parameters" element="tns:updateMemberResponse"/>
</message>
<portType name="PartyRESTService">
<operation name="remove_1">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/remove_1Request" message="tns:remove_1"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/remove_1Response" message="tns:remove_1Response"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://jws.party.gov.za/PartyRESTService/remove_1/Fault/Exception_Exception"/>
</operation>
<operation name="remove">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/countRequest" message="tns:count"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/findRequest" message="tns:find"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="find_1">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/find_1Request" message="tns:find_1"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/find_1Response" message="tns:find_1Response"/>
</operation>
<operation name="create">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/create" message="tns:create"/>
</operation>
<operation name="countREST">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/countRESTRequest" message="tns:countREST"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/countRESTResponse" message="tns:countRESTResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/edit" message="tns:edit"/>
</operation>
<operation name="edit_1">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/edit_1" message="tns:edit_1"/>
</operation>
<operation name="findRange_1">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/findRange_1Request" message="tns:findRange_1"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/findRange_1Response" message="tns:findRange_1Response"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="addMember">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/addMemberResponse" message="tns:addMemberResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://jws.party.gov.za/PartyRESTService/addMember/Fault/Exception_Exception"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.party.gov.za/PartyRESTService/addMember/Fault/Exception"/>
</operation>
<operation name="updateMember">
<input wsam:Action="http://jws.party.gov.za/PartyRESTService/updateMemberRequest" message="tns:updateMember"/>
<output wsam:Action="http://jws.party.gov.za/PartyRESTService/updateMemberResponse" message="tns:updateMemberResponse"/>
<fault message="tns:Exception_Exception" name="Exception_Exception" wsam:Action="http://jws.party.gov.za/PartyRESTService/updateMember/Fault/Exception_Exception"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.party.gov.za/PartyRESTService/updateMember/Fault/Exception"/>
</operation>
</portType>
<binding name="PartyRESTServicePortBinding" type="tns:PartyRESTService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap:fault name="Exception_Exception" use="literal"/>
</fault>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countREST">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edit_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception_Exception">
<soap:fault name="Exception_Exception" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartyRESTService">
<port name="PartyRESTServicePort" binding="tns:PartyRESTServicePortBinding">
<soap:address location="http://UZU-DESIGN05:8080/PartyRESTServiceApp/PartyRESTService"/>
</port>
</service>
</definitions>