Political_PartyABC/ValidatorConverterSOAPServiceApp/src/conf/xml-resources/web-service-references/DataCentreSOAPService/wsdl/UZU-DESIGN05_8080/DataCentreSOAPService/DataCentreSOAPService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jws.data.gov.za/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jws.data.gov.za/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addClient" type="tns:addClient"/>

<xs:element name="addClientResponse" type="tns:addClientResponse"/>

<xs:element name="deleteClient" type="tns:deleteClient"/>

<xs:element name="deleteClientResponse" type="tns:deleteClientResponse"/>

<xs:element name="editClient" type="tns:editClient"/>

<xs:element name="editClientResponse" type="tns:editClientResponse"/>

<xs:complexType name="deleteClient">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteClientResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addClient">
<xs:sequence>
<xs:element name="clientXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addClientResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editClient">
<xs:sequence>
<xs:element name="clientXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editClientResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>