Political_PartyABC/ValidatorConverterSOAPServiceApp/src/conf/xml-resources/web-service-references/DataCentreSOAPService/wsdl/UZU-DESIGN05_8080/DataCentreSOAPService/DataCentreSOAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.data.gov.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.data.gov.za/" name="DataCentreSOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.data.gov.za/" schemaLocation="http://UZU-DESIGN05:8080/DataCentreSOAPService/DataCentreSOAPService?xsd=1"/>
</xsd:schema>
</types>
<message name="editClient">
<part name="parameters" element="tns:editClient"/>
</message>
<message name="editClientResponse">
<part name="parameters" element="tns:editClientResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="deleteClient">
<part name="parameters" element="tns:deleteClient"/>
</message>
<message name="deleteClientResponse">
<part name="parameters" element="tns:deleteClientResponse"/>
</message>
<message name="addClient">
<part name="parameters" element="tns:addClient"/>
</message>
<message name="addClientResponse">
<part name="parameters" element="tns:addClientResponse"/>
</message>
<portType name="DataCentreSOAPService">
<operation name="editClient">
<input wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/editClientRequest" message="tns:editClient"/>
<output wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/editClientResponse" message="tns:editClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/editClient/Fault/Exception"/>
</operation>
<operation name="deleteClient">
<input wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/deleteClientRequest" message="tns:deleteClient"/>
<output wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/deleteClientResponse" message="tns:deleteClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/deleteClient/Fault/Exception"/>
</operation>
<operation name="addClient">
<input wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/addClientRequest" message="tns:addClient"/>
<output wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/addClientResponse" message="tns:addClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.data.gov.za/DataCentreSOAPService/addClient/Fault/Exception"/>
</operation>
</portType>
<binding name="DataCentreSOAPServicePortBinding" type="tns:DataCentreSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="DataCentreSOAPService">
<port name="DataCentreSOAPServicePort" binding="tns:DataCentreSOAPServicePortBinding">
<soap:address location="http://UZU-DESIGN05:8080/DataCentreSOAPService/DataCentreSOAPService"/>
</port>
</service>
</definitions>